@import "tailwindcss";

@theme {
  --color-artisan-dark: #1c1917;
  --color-artisan-surface: #292524;
  --color-artisan-accent: #eb9b34;
  --color-artisan-cream: #f5f5f4;
  --color-artisan-olive: #65a30d;

  --font-serif: "Merriweather", serif;
  --font-sans: "Nunito", sans-serif;

  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
}

@layer base {
  body {
    @apply bg-artisan-dark text-artisan-cream font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

/* Custom Scrollbar */
.artisan-scroll::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.artisan-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.artisan-scroll::-webkit-scrollbar-thumb {
  @apply bg-artisan-accent/30 rounded-full hover:bg-artisan-accent transition-colors;
}

.paper-texture {
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

.wood-texture {
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');